@import url(./fontiran.css);
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .ltr-theme {
        direction: ltr;
        text-align: left;
    }

    .rtl-theme {
        direction: rtl;
        text-align: right;
    }

    .p-main {
        width: calc(100%);
        margin: auto;
        padding-right: 64px;
    }

    @media (max-width: 768px) {
        .p-main {
            padding: 0;
        }
    }
}