@import url(./fontiran.css);
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .ltr-theme {
        direction: ltr;
        text-align: left;
    }

    .rtl-theme {
        direction: rtl;
        text-align: right;
    }
    .p-admin {
        width: calc(100% - 80px);
    }
}